body
{
    background: red;
}

    .login.div1 , .login.div2
    {
        background: white;
        padding: 10px; 
        float: none;
        border-radius: 15px;
        width: 400px;
    }


#player1_name , #player2_name
{
    display: inline-block;
    margin-left: 20px;
}
#word
{
     width: 60X;
}
#word_display
{
    letter-spacing: 5px;
}
#output
{
    background: white;
    border-radius: 50px;
    border-top: 10px solid maroon;
    padding: 10px;
    float: none;
    text-align: left;
}